
* {
    margin: 0;
}

.images__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 230, 230);
}

.images__container img {
    max-width: 100%;
}
      